.container
  .row
    .cust-span-featured
      %h1.titles.tk-futura-pt-condensed
        Özel video
      .video.mtm
        .media
          - if @videos.last.video_type == "Youtube"
            == <iframe width="590" height="330" src="http://www.youtube.com/embed/#{@videos.last.share_code}" frameborder="0" allowfullscreen></iframe>
          - else
            == <iframe src="http://player.vimeo.com/video/#{@videos.last.share_code}" width="590" height="330" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        .caption
          %h2.titles.tk-futura-pt-condensed #{@videos.last.title}
          %p #{@videos.last.caption}
        .buttons.tk-futura-pt-condensed
          = link_to "Download", "#"
          = link_to "Share", "#" 

    .cust-span-thumbs
      %h1.titles.tk-futura-pt-condensed
        En son videolar
      .row.mtm
        - @videos.last(6).each do |video|
          -if cycle('odd', 'even') == 'odd'
            %a{:href => "/videos/#{video.id}", :style => "display:block"}
              .thumb.first
                .overlay
                  %h3.titles.tk-futura-pt-condensed
                    = video.title
                %img{:alt => "", :src => "#{video.thumbnail}"}
          -else 
            %a{:href => "/videos/#{video.id}", :style => "display:block"} 
              .thumb
                .overlay
                  %h3.titles.tk-futura-pt-condensed
                    = video.title
                %img{:alt => "", :src => "#{video.thumbnail}"}