.container
  .btn.btn-primary.mbm.new-btn
    = link_to 'New Video', new_video_path 
  %h1 Listing videos
  .col12
    %table.table
      %thead
        %tr
          %th User
          %th Category
          %th Title
          %th Type
          //%th Caption
          %th Featured
          %th Link
          %th Video Id
          %th
          %th
      %tbody
        - @videos.each do |video|
          %tr
            %td= video.user.name
            %td= video.category.name
            %td= video.title
            %td= video.video_type
            //%td= video.caption
            %td= video.featured
            %td= video.link
            %td= video.share_code
            %td= link_to 'Show', video
            %td= link_to 'Edit', edit_video_path(video)
            %td= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' }

    %br


