!!!
%html
  %head
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    %script{:src => "//use.typekit.net/yyw1fzv.js", :type => "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}

  %body
    .container
      .row
        .span6
          .header.tk-futura-pt-condensed
            = link_to "Vizyonkumru", root_path
        .span6.header-links
          = link_to "Ev :: ", "/"
          = link_to "Müzik :: ", "/categories/1"
          = link_to "Öğretiş ::", "/categories/2"
          = link_to "Kısa Film", "/categories/3"
         
    = yield 

    /= render :partial => "shared/social_code"