!!!
%html
  %head
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    %script{:src => "//use.typekit.net/xlz3dab.js", :type => "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}

  %body
    .container
      .row
        .span6
          .header.tk-futura-pt-condensed
            = link_to "Vizyonkumru", root_path
        .span6.header-links
          = link_to "Ana sayfa", "/"
          = " :: "
          = link_to "Müzik", "/categories/1"
          = " :: " 
          = link_to "Öğretiş", "/categories/3"
          = " :: "
          = link_to "Kısa Film", "/categories/2"
         
    = yield 

    /= render :partial => "shared/social_code"