!!!
%html
  %head
    = stylesheet_link_tag "application"
    = javascript_include_tag "application"
    %script{:src => "//use.typekit.net/yyw1fzv.js", :type => "text/javascript"}
    :javascript
      try{Typekit.load();}catch(e){}

  %body
    .container
      .row
        .span6
          .header.tk-futura-pt-condensed
            = link_to "Vizyonkumru", root_path
        .span6.header-links
          = link_to "Music Videos :: ", "#"
          = link_to "Short Movies ::", "#"
          = link_to "Teaching ::", "#"
          = link_to "About", "#"
    = yield 

    /= render :partial => "shared/social_code"